:root{
    --main-bleu: #667eea;
    --main-purple: #764ba2;
    --main-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    --b-color-1: #e61e04;
    --b-color-2: #e2ff09;
    --b-color-3: #40f10b;
    --b-color-4: #0adcca;
    --b-color-5: #12a9f0;
    --b-color-6: #1e09a9;
    --b-color-7: #b30cc2;
    --b-color-8: #764ba2;
}
.{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    width: 90rem;
    height: 90rem;
    background: linear-gradient(135deg,var(--main-bleu), var(--main-purple));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-container{
    width: 80rem;
    height: 80rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    row-gap: gap;

}


.box{
     width: 8rem;
     height: 8rem;
     background-color: #667eea;
     border-radius: 10px;
     box-shadow: var(main-shadow);
}

.b-1{
   background-color: var(--b-color-1);
}
.b-2{
    background-color: var(--b-color-2);
}
.b-3{
    background-color: var(--b-color-3);
}
.b-4{
    background-color: var(--b-color-4);
}
.b-5{
    background-color: var(--b-color-5);
}
.b-6{
    background-color: var(--b-color-6);
}
.b-7{
    background-color: var(--b-color-7);
}
.b-8{
    background-color: var(--b-color-8);
}


